---
suites:
  - name: default
    run_list:
      - recipe[supermarket-omnibus-cookbook::default]
    attributes:
      supermarket_omnibus:
        chef_server_url: https://chefserver.mycorp.com
        chef_oauth2_app_id: my_example_app_id_my_example_app_id
        chef_oauth2_secret: my_example_secret_my_example_secret
        chef_oauth2_verify_ssl: false
