# Use Travis's cointainer based infrastructure
sudo: required
services: docker

addons:
 apt:
   sources:
     - chef-stable-precise
   packages:
     - chefdk

env:
  matrix:
  - INSTANCE=default-ubuntu-1404
  - INSTANCE=default-ubuntu-1204
  - INSTANCE=default-centos-71

# Don't `bundle install`
install: echo "skip bundle install"

before_script:
  # https://github.com/zuazo/kitchen-in-travis-native/issues/1#issuecomment-142230889
  - sudo iptables -L DOCKER || ( echo "DOCKER iptables chain missing" ; sudo iptables -N DOCKER )
  - eval "$(/opt/chefdk/bin/chef shell-init bash)"
  # We have to install mixlib-versioning for ChefSpec to work against chef-ingredient
  - /opt/chefdk/embedded/bin/chef gem install mixlib-versioning
  - /opt/chefdk/embedded/bin/chef gem install kitchen-docker
script:
  - /opt/chefdk/embedded/bin/chef --version
  - /opt/chefdk/embedded/bin/rubocop --version
  - /opt/chefdk/embedded/bin/rubocop
  - /opt/chefdk/embedded/bin/foodcritic --version
  - /opt/chefdk/embedded/bin/foodcritic . --exclude spec
  - /opt/chefdk/embedded/bin/rspec spec
  - KITCHEN_LOCAL_YAML=.kitchen.docker.yml /opt/chefdk/embedded/bin/kitchen verify ${INSTANCE}
